html {
    display: flex;
}

body {
    max-width: fit-content;
}

#navbar {
    flex-direction: column;
    padding: 1rem 0;
    height: 80px;
    overflow: hidden;
}


#navbar ul li a {
    padding: 0rem 1rem;
}

#status {
    height: 28rem;
}

#jokes .items {
    flex-direction: column;
    margin-top: 5rem;
}

#jokes .items .item {
    width: 90%;
}